<meta charset="UTF-8">
<title>BoL</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/register.css" />
<link rel="stylesheet" href="/css/sign-in.css" />
<link rel="stylesheet" href="/css/faq.css" />
<link rel="stylesheet" href="/css/contact.css" />
<link rel="stylesheet" href="/css/welcome.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>




