<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    
    <!--Columnas Sign In/ Register/ Contact-->
    <div class="container mt-5">
        <br /> <br />
        <div class="row">
            <div class="col-sm-6 text-center">
                <h3>Sign In</h3>
                <p>If you already have an account and want to follow your goods, please continue and Sign In</p>
                <a href="/sign_in" class="btn btn-info" style="background-color: #668fe9;" role="button">Sign In</a>
            </div>
            
            <div class="col-sm-6 text-center">
                <h3>Contact</h3>
                <p>If you have any doubt or suggestion, please continue and Conctact us</p>
                <a href="/contact" class="btn btn-info" style="background-color: #668fe9;"
                    role="button">Conctact</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>